/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800&display=swap');

body {
  background-color: rgba(246, 249, 250, 0.59);
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #185392;
  --ifm-color-primary-dark: #21269e;
  --ifm-color-primary-darker: #0f3e70;
  --ifm-color-primary-darkest: #31366f;
  --ifm-color-primary-light: #3778be;
  --ifm-color-primary-lighter: #509aea;
  --ifm-color-primary-lightest: #6aacf3;
  --ifm-code-font-size: 95%;
  font-family: Inter;
}

@media only screen and (min-width : 820px) {
  article {
    margin: 0 auto;
    padding-left: 35px;
    padding-top: 20px;
  }
}

blockquote > p {
  color: rgb(71 85 105) !important;
  font-size: 18px;
}

blockquote {
  border-color: #ced7e9 !important;
}

.navbar__item {
  font-weight: 600;
}
.dropdown > .navbar__link {
  font-weight: 600;
}

.menu__link {
  /*font-weight: 600;*/
  font-family: sans-serif;
}

.dropdown > .navbar__link:after {
  display: none;
}

aside {
  /*border-right: none !important;*/
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  /*box-shadow: none;*/
  /*border-bottom: 1px solid #e2e2e2;*/
  /*background-color: transparent;*/
}

.no-shadow {
  box-shadow: none;
}

.theme-doc-markdown {
  max-width: 800px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(197, 238, 211, 0.73);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  all: unset;
  text-align: left;
  border: 1px solid #e2e2e2;
}

.container {
  max-width: 100% !important;
}

button {
  outline: none;
  border: none;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.3; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.3; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.3; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.3; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 1.4s infinite;
  -moz-animation: flickerAnimation 1.4s infinite;
  -o-animation: flickerAnimation 1.4s infinite;
  animation: flickerAnimation 1.4s infinite;
}

a:hover {
  text-decoration: none;
}

a {
  cursor: pointer !important;
}

button {
  cursor: pointer !important;
}

details {
  background-color: rgb(248, 248, 250) !important;
  border-color: rgb(49,95,119) !important;
  color: black !important;
}
details summary {
  color: black !important;
}

.highlight {
  background-image: linear-gradient(to right, rgb(193, 213, 239), rgb(221, 232, 246));
  border-radius: 6px;
  /*color:white;*/
  padding: 3px 6px;
}

.badges-gh p img {
  height: 23px;
  width: auto;
}
.badges-gh p {
  display: inline-block;
  padding-bottom: 0px;
  margin: 0px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.03); }

footer {
  margin-top: 140px;
  border-top: 1px solid #e2e2e2;
}


.gradient {
  background: rgb(34,60,105);
  background: radial-gradient(circle, rgba(34,60,105,1) 0%, rgba(10,12,22,1) 100%);
}
.gradient:hover {
  background: radial-gradient(circle, rgb(46, 75, 124) 0%, rgba(10,12,22,1) 100%);
}

.gradient2 {
  background: rgb(65,65,65);
  background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);
}

.custom-doc-header {
  padding-left: 8px;
  padding-top: 9px;
  margin-bottom: 8px;
  color: #0c1d37;
}

ul {
  padding-left: 18px !important;
}

.theme-doc-sidebar-menu {
  padding-left: 2px !important;

}

pre {
  background-color: white !important;
}
.language-yaml {
  background-color: white !important;
  border: 1px solid #d3d5d9;
}

.prism-code {
  border: none;
}

.table-of-contents ul {
  padding-left: 0px !important;
}

.codeBlockTitle_node_modules-@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  background-color: wheat;
}

.card {
  border: 1px solid #e2e2e2;

}
.pagination-nav {
  padding: 36px;
}

.sui-description {
  font-size: 10px !important;
}

.ui .button {
  background-color: black;
  color: white;
}
